@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400i,500i,600i,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
 

body { 
    font-family: 'Cabin',sans-serif; 
    font: 'Cabin',sans-serif;
    font-weight: 400; 
    font-size: 1rem; 
    line-height: var(--ast-body-line-height,1.65em);
} 
html { 
    font-family: 'Cabin',sans-serif; 
    font: 'Cabin',sans-serif;
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
} 

html { 
    font-size: 106.25%;
} 



